/**
 * @file globals.css
 * @route src/app/globals.css
 * @description Archivo de estilos globales de la aplicación.
 * @author Kevin Mariano
 * @version 1.0.2
 * @since 1.0.0
 * @copyright MiauBloom
 */


@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    height: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(242, 194, 193, 0.4); 
}
